body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}
#hero {
    box-sizing: border-box;
    background-color: #1F2937;
    width: 100%;
    margin: 0;
    padding: 10px 240px 100px 240px;
}
header {
    display: flex;
    justify-content: space-between;
}
header > h2 {
    font-size: 24px;
    color: #F9FAF8;
}
#links {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 225px;
}
#text-area {
    width: 47.5%;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    width: 150px;
    text-align:end
}
#image {
    width: 47.5%;
    height: auto;
    background-color:#9ea1a7;
    display: flex;
    justify-content: space-around;
    align-items:center;
    opacity:0.7;
}
a > p, #text-area > p, #image > p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight:100;
    opacity: 1;
}

#text-area > h1 {
    margin: 0;
    font-size: 48px;
    font-family: RobotoBold;
    color: #F9FAF8;
}
input {
    position: relative;
    border: 0;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 24px;
    color: #F9FAF8;
    font-family: RobotoBold;
}
#text-area > p {
 margin-bottom: 10px;
 margin-top: 10px;
}
#info {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin: 100px 0 200px 0;
    padding-right: 320px;
    padding-left:320px;
}
#info > h2 {
    font-size: 36px;
    color: #1F2937;
    font-family: RobotoBold;
}
#info > div {
    display: flex;
    justify-content: space-between;
}
.blue-box {
    width: 175px;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    align-self: center;
}
.information {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-size: 15px;
    align-items: center;
}
.information > p {
    width: 170px;
}
#quote {
    box-sizing: border-box;
    width: 100%;
    background-color: #E5E7EB;
    padding: 100px 360px 100px 360px;
    color: #1F2937;
    font-style:italic;
    font-family: RobotoLight;
    font-size: 36px;
}
#bold {
    text-align: end;
    font-style:normal;
    font-size: 18px;
    font-family: RobotoBold;
    color:#1F2937;
} 
#sign {
    display: flex;
    background-color:#3882F6;
    margin: 100px 240px 100px 240px;
    padding: 50px 120px 50px 120px;
    border-radius: 8px;
    color:#F9FAF8;
    align-items: center;
    justify-content: space-between;
}
#sign > input {
    border: 2px solid #E5E7EB;
}
#Product-text > h2 {
    font-size: 24px;
    font-family: RobotoBold;
    margin: 0;
}
#Product-text > p {
    font-size: 18px;
    margin: 0;
    font-family: RobotoLight;
}
footer {
    box-sizing: border-box;
    width: 100%;
    background-color:#1F2937;
    text-align: center;
    color:#F9FAF8;
    padding: 30px 0;
}
input:hover {
    cursor: pointer;
}
@font-face {
    font-family: Roboto;
    src: url(ressources/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(ressources/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(ressources/Roboto-Light.ttf);
}